# Configuração do Banco de Dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"

# Segurança JWT
# Importante! O arquivo env a ser criado deve conter essa mesma assinatura para que a pré-autenticação funcione
JWT_SECRET="f3a7b9c1d2e4f5g6h7i8j9k0l1m2n3o4p5q6r7s8t9u0v1w2x3y4z5"

# Integração com Cloudinary
CLOUDINARY_NAME="seu_cloud_name"
CLOUDINARY_API_KEY="sua_api_key"
CLOUDINARY_API_SECRET="sua_api_secret"

# Porta do Servidor
PORT=3000